<!DOCTYPE HTML>
<html data-layout-decorator="layout">
	<head></head>

	<body>
	
		<section data-layout-fragment="content">
			<table class="table">
				<thead>
					<tr>
						<th data-th-text="#{country.number}">No.</th>
						<th data-th-text="#{country.name}">Name</th>
						<th data-th-text="#{country.isoCode}">ISO code</th>
					</tr>
				</thead>
				
				<tbody>
					<tr data-th-each="country, stat : ${countries}">
						<td data-th-text="${stat.count}"></td>
						<td data-th-text="${country.name}"></td>
						<td data-th-text="${country.isoCode}"></td>
					</tr>
				</tbody>
			</table>
		</section>
	
	</body>
</html>